* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://media.gq.com/photos/57b643be1890ff58025997bf/3:2/w_2499,h_1666,c_limit/travis-barker-gq-17-BW.jpg');
    background-size: cover;
    background-position: 65% 65%;
    font-family: 'Roboto', sans-serif;
}

.l-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0.7em;
    padding: 5px;
    height: 70px;
    width: 70px;
    background-color:rgba(0, 0, 0, 0.5);
    border: #000 solid;
    border-radius: 5px;
    color: #FFF;
    transition: all .07s;
}

.key > kbd {
    font-size: 1.7em;
    font-family: 'Aclonica', sans-serif;
}

.key > span {
    text-transform: uppercase;
    font-size: 0.7em;
    color: rgb(255, 208, 0);
}

.key-pressed {
    box-shadow: 0 0 10px 2px rgb(255, 208, 0);
    border-color:  rgb(255, 208, 0);
    transform: scale(1.1);
}